<!DOCTYPE html>
<html lang="en">
    <%- include('components/header'); -%>
<body class="bg-cerise">
    <div class="relative flex items-center justify-center px-4 md:px-20 min-h-screen">
        <div class="absolute right-4 top-1 md:right-10 md:top-10 lg:right-24 lg:top-24">
            <svg class="w-24 h-24 md:w-fit md:h-fit" width="222" height="221" viewBox="0 0 222 221" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M114.805 57.4026C114.805 89.1052 89.1052 114.805 57.4026 114.805C25.7 114.805 0 89.1052 0 57.4026C0 25.7 25.7 0 57.4026 0C89.1052 0 114.805 25.7 114.805 57.4026ZM11.3974 57.4026C11.3974 82.8106 31.9946 103.408 57.4026 103.408C82.8106 103.408 103.408 82.8106 103.408 57.4026C103.408 31.9946 82.8106 11.3974 57.4026 11.3974C31.9946 11.3974 11.3974 31.9946 11.3974 57.4026Z" fill="#D9D9D9"/>
                <path d="M122.842 175.078C122.842 200.44 102.282 221 76.9195 221C51.5575 221 30.9974 200.44 30.9974 175.078C30.9974 149.716 51.5575 129.156 76.9195 129.156C102.282 129.156 122.842 149.716 122.842 175.078ZM40.1153 175.078C40.1153 195.404 56.5931 211.882 76.9195 211.882C97.2459 211.882 113.724 195.404 113.724 175.078C113.724 154.752 97.2459 138.274 76.9195 138.274C56.5931 138.274 40.1153 154.752 40.1153 175.078Z" fill="#D9D9D9"/>
                <path d="M221.574 107.343C221.574 134.607 199.472 156.709 172.208 156.709C144.944 156.709 122.842 134.607 122.842 107.343C122.842 80.0786 144.944 57.9766 172.208 57.9766C199.472 57.9766 221.574 80.0786 221.574 107.343ZM132.643 107.343C132.643 129.194 150.357 146.907 172.208 146.907C194.059 146.907 211.772 129.194 211.772 107.343C211.772 85.492 194.059 67.7784 172.208 67.7784C150.357 67.7784 132.643 85.492 132.643 107.343Z" fill="#D9D9D9"/>
            </svg>
        </div>
        <div class="absolute left-4 -bottom-3 md:left-10  lg:left-24 lg:bottom-0">
            <svg class="w-24 h-24 md:w-fit md:h-fit" width="222" height="169" viewBox="0 0 222 169" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M114.805 57.4026C114.805 89.1052 89.1052 114.805 57.4026 114.805C25.7 114.805 0 89.1052 0 57.4026C0 25.7 25.7 0 57.4026 0C89.1052 0 114.805 25.7 114.805 57.4026ZM11.3974 57.4026C11.3974 82.8106 31.9946 103.408 57.4026 103.408C82.8106 103.408 103.408 82.8106 103.408 57.4026C103.408 31.9946 82.8106 11.3974 57.4026 11.3974C31.9946 11.3974 11.3974 31.9946 11.3974 57.4026Z" fill="#D9D9D9"/>
                <path d="M122.842 175.078C122.842 169.047 121.654 163.076 119.346 157.504C117.038 151.933 113.656 146.87 109.391 142.606C105.127 138.342 100.065 134.959 94.4931 132.651C88.9216 130.344 82.9501 129.156 76.9195 129.156C70.8889 129.156 64.9174 130.344 59.3459 132.651C53.7744 134.959 48.712 138.342 44.4477 142.606C40.1834 146.87 36.8008 151.933 34.493 157.504C32.1852 163.076 30.9974 169.047 30.9974 175.078L40.1153 175.078C40.1153 170.245 41.0673 165.459 42.9169 160.994C44.7665 156.528 47.4775 152.471 50.895 149.053C54.3126 145.636 58.3699 142.925 62.8352 141.075C67.3005 139.226 72.0863 138.274 76.9195 138.274C81.7527 138.274 86.5386 139.226 91.0039 141.075C95.4691 142.925 99.5264 145.636 102.944 149.053C106.362 152.471 109.073 156.528 110.922 160.994C112.772 165.459 113.724 170.245 113.724 175.078H122.842Z" fill="#D9D9D9"/>
                <path d="M221.574 107.343C221.574 134.607 199.472 156.709 172.208 156.709C144.944 156.709 122.842 134.607 122.842 107.343C122.842 80.0786 144.944 57.9766 172.208 57.9766C199.472 57.9766 221.574 80.0786 221.574 107.343ZM132.643 107.343C132.643 129.194 150.357 146.907 172.208 146.907C194.059 146.907 211.772 129.194 211.772 107.343C211.772 85.492 194.059 67.7784 172.208 67.7784C150.357 67.7784 132.643 85.492 132.643 107.343Z" fill="#D9D9D9"/>
            </svg>
        </div>
        <% if (validationErrors && validationErrors.length > 0) { %>
            <div class="absolute top-40 lg:top-44">
                <div class="flex p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
                    <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Info</span>
                    <div>
                      <span class="font-medium">Oops!</span>
                        <ul class="mt-1.5 list-disc list-inside">
                            <% for (let each of validationErrors) { %>
                            <li><%= each %></li>
                            <% }%>
                      </ul>
                    </div>
                  </div>
            </div>
        <% } %>
            
        <div class="bg-white w-[40rem] shadow-2xl rounded-xl">
            <div class="w-full flex min-h-full flex-col justify-center px-0 py-6">
                <div class="border-b border-black pb-6 ">
                    <h2 class="text-center text-4xl font-bold leading-9 tracking-tight text-gray-900">LexiconLab</h2>
                </div>
            
                <div class="mt-10 sm:mx-auto sm:w-full px-10">
                <form class="space-y-6 mb-6" action="/register" method="POST">
                    <div>
                        <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
                        <div class="mt-2">
                            <input id="name" name="name" type="text" autocomplete="name" value="<%= name %>" required class="block w-full rounded-md border-0 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-0 focus:outline-naples-yellow  sm:text-sm sm:leading-6">
                        </div>
                    </div>
            
                    <div>
                        <label for="username" class="block text-sm font-medium leading-6 text-gray-900">User Name</label>
                        <div class="mt-2">
                            <input id="username" name="username" type="text" autocomplete="username" value="<%= username %>" required class="block w-full rounded-md border-0 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-0 focus:outline-naples-yellow sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <div>
                        <div class="flex items-center justify-between">
                            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                            <!-- <div class="text-sm">
                            <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
                            </div> -->
                        </div>  

                        <div class="mt-2">
                            <input id="password" name="password" type="password" autocomplete="current-password" value="<%= password %>" required class="block w-full rounded-md border-0 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-0 focus:outline-naples-yellow sm:text-sm sm:leading-6">
                        </div>
                    </div>
            
                    <div class="mt-8 flex items-center justify-between md:justify-end">
                        <a href="/login" class="mt-4 flex w-fit justify-center border-y hover:rounded-md border-naples-yellow px-8 py-1.5 text-sm font-semibold leading-6 hover:border-x focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-naples-yellow transition-all">LOGIN</a>
                        <button type="submit" class="mt-4 ml-4 flex w-fit justify-center rounded-md bg-naples-yellow px-8 py-1.5 text-sm font-semibold leading-6 shadow-sm hover:bg-opacity-70 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-naples-yellow">REGISTER</button>
                    </div>
                </form>
                </div>
            </div>
        </div>

    </div>
    <%- include('components/footer')  %>
</body>
</html>